@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-6">What operation would you want to perform?</h2>
    <button class="glow-on-hover" type="button">Create data</button>
    <button class="glow-on-hover" type="button">Read data</button>
    <button class="glow-on-hover" type="button">Update data</button>
    <button class="glow-on-hover" type="button">Delete data</button>
</div>