@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-6">What operation would you want to perform?</h2>
    <form method="post">
        <button asp-controller="Home" asp-action="Create" id="Create" class="glow-on-hover">Create data</button>
        <button asp-controller="Home" asp-action="Create" id="Read" class="glow-on-hover" >Read data</button>
        <button asp-controller="Home" asp-action="Create" id="Update" class="glow-on-hover">Update data</button>
        <button asp-controller="Home" asp-action="Create" id="Delete" class="glow-on-hover">Delete data</button>
    </form>
</div>